<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="https://use.fontawesome.com/a18d8adadc.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   {{> header }}
   <script src="/javascripts/jquery.min.js"></script>
   <div class="container">
       {{{body}}}
   </div>
    
    
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
